body {
    background: white;
    box-sizing: border-box;
}

.blog-section {
    min-height: 100vh;
    margin-bottom: 30px;
}

.blog-title {
    display: flex;
    flex-direction: column;
}

/* .blog-title {
    height: 100px;
    display: block;
    position: relative;
  }
  
.blog-title::after {
    content: "";
    background: url(../../img/blog_images/graphoc.jpg);
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  } */

.title-details {
    display: flex;
    justify-content: space-between;
}

.post-info {
    width: 60%;
}

.share-links img{
    max-width: 20px;
}

.blog-welcome-title h3{
    text-transform: uppercase;
}

.blog-welcome-title h3:hover {
    font-weight: 700;
    letter-spacing: 0.3rem;
}

.blog-image {
    height: 100px;
    background: url(../../img/blog_images/graphoc.jpg);
    background-size: cover;
}

.blog-preview {
    padding-top: 30px;
}

.blog-preview > p {
    font-style: italic;
}

.blog-preview a {
    text-decoration: none;

}

.blog-preview a:hover {
    color: #C51426;
}

.btn {
    font-weight: bold;
    padding: 15px 25px;
    text-transform: uppercase;
    border-radius: 0;
}
  
  .btn-danger {
    background-color: #C51426;
  }

.btn-danger:hover {
    color: black;
    background-color: #F9E4E6;
    border-color: #C51426;
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.9);
} 

p .card-text a:hover {
    color: #C51426;;
}

.position-fixed {
    right:0;
}

.featured-post {
    margin-top: 30px;
    max-height: 200px;
    overflow: hidden;
}

.featured-post h6 {
    font-weight: bold;
    text-decoration: underline;
}

.featured-post > a {
    font-size: .8rem;
    text-decoration: none;
}

.featured-post hr {
    margin: 0.5rem;
}
